@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}

body {
	font: 71%/1.5 simsun, Sans-Serif;
	background: #eee;
}


/* container */


#write {
	margin: 0 0 5px;
	margin-left: 20%;
	padding: 5px;
	width: 55%;
	height: 50px;
	font: 3em Verdana, Sans-Serif;
	background: #fff;
	border: 1px solid #f9f9f9;
	opacity: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.keyboard {
	width:100%;
	height:23%;
	margin-left: 0px;
	padding: 2px;
	list-style: none;
	background: #d3d4d9;
	position: fixed;
	bottom: 0;
}

.keyboard li {
	float: left;
	margin: 10px 6px 5px 0;
	width: 9%;
	height:20%;
	line-height: 230%;
	font-size:3em;
	text-align: center;
	background: #fff;
	border: 1px solid #f9f9f9;
	cursor: pointer;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}


.keyboard li:hover {
	position: relative;
	top: 1px;
	left: 1px;
	border-color: #e5e5e5;
	background: #FFF1C2;
}

.left{
	clear: left;
}

.keyboard .z{
	width:11%;
	margin-left: 1%;
	margin-right: 3%;
	background: #aab1bb;
	border: none;
}
.capslock,
.tab{
	clear: left;
}


.keyboard .delete {
	width:11%;
	margin-left: 3%;
	background: #aab1bb;
	border: none;
}
.keyboard .number{
	width:11%;
	margin-left: 4px;
	background: #aab1bb;
	border: none;
}


.keyboard .search {
	width: 17%;
	margin-left: 1%;
}
.keyboard .blank{
	width:45%;
}


.lastitem {
	margin-right: 0;
}

.uppercase {
	text-transform: uppercase;
}

.keyboard .space {
	clear: left;
	width: 681px;
}
.keyboard .search{
	background: #aab1bb;
	border: none;
	margin-left: ;
}
#num{
	display: none;
}
#word{
	display: none;
}
#cancle{
	display: none;
	position: absolute;
	margin-left: 754px;
	margin-top: -60px;
	font-size: 3em;
}

